@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  .dark {
    color-scheme: dark;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
